body {
    background-color: rgb(253, 246, 238);
  }

h2 {
    color: rgb(201, 127, 30);
    text-align: center;
}

p {
    color: rgb(161, 89, 89);
    text-align: left;
    font-family: verdana;
}

