body {
    background-color: rgb(253, 246, 238);
}

.myDiv {
    border: 5px outset rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    font-family: 'EB Garamond', Garamond, serif;
    text-align: center;
}
h2{
    color: rgb(101, 84, 73);
    text-align: center;
    font-size: 45px;
    font-family: 'EB Garamond', Garamond, serif;
}

label {
    color: rgb(161, 89, 89);
    text-align: left;
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 15px;
}

p {
    color: rgb(71, 53, 36);
    text-align: left;
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

a:hover {
    background-color: rgb(219, 201, 198);
}

.section1 {
    background-image: url('WorldMapBackGround.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.section2 {
    background-image: url('Copy\ of\ Culture\ Trade\ Design\ Layout\ \(2\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: right;
}

.topnav {
    background-color: rgb(219, 201, 198);
    overflow: hidden;
    align-items: center;
    font-family: 'EB Garamond', Garamond, serif;
    justify-content: center;
    text-align: center;
}

.topnav a {
    float: left;
    color: rgb(101, 84, 73);
    text-align: center;
    padding: 15px 22px;
    text-decoration: none;
    font-size: 21px;

  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(239, 221, 228);
    color: rgb(117, 101, 101);
    font-size: 22px;
    padding: 15px 22px;

  }
  
  .topnav a.active {
    background-color: rgb(188, 159, 155);
    color: white;
  }