body {
    background-color: rgb(253, 246, 238);
  }


.myDiv {
    border: 5px outset rgb(158, 150, 140);
    background-color: rgb(253, 246, 238);
    text-align: center;
}
h2{

    color: rgb(201, 127, 30);
    text-align: center;
    font-size: 45px;

}
p{
    color: rgb(161, 89, 89);
    text-align: left;
    font-family: verdana;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;

}

section {
    background-image: url("WorldMapBackGround.png");


}


