body {
    background-color: rgb(253, 246, 238);
  }


.myDiv {
    border: 5px outset rgb(158, 150, 140);
    background-color: rgb(253, 246, 238);
    font-family: sans-serif;
    text-align: center;
}
h2{

    color: rgb(201, 127, 30);
    text-align: center;
    font-size: 45px;

}

label {
    color: rgb(161, 89, 89);
    text-align: left;
    font-family: verdana;
    font-size: 15px;

}
p{
    color: rgb(161, 89, 89);
    text-align: left;
    font-family: verdana;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;

}

a:hover {
    background-color: #ddd;

  }

.e {
    background-image: url(css/WorldMapBackGround.png);
}

.section1 {
    background-image: url('WorldMapBackGround.png'); /* Specify the image path */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 700px; /* Set a height for the section to make the background visible */
    display: flex; /* Example: for centering content */
    flex-direction: column; /* Example: for centering content */
    justify-content: center; /* Example: for centering content */
    align-items: center; /* Example: for centering content */
    color: white; /* Example: for text visibility on a dark background */
    text-align: center; /* Example: for text alignment */
}