body {
    background-color: rgb(253, 246, 238);
  }


.myDiv {
    border: 5px outset rgb(158, 150, 140);
    background-color: rgb(253, 246, 238);
    text-align: center;
}

section {
    background-image: url("WorldMapBackGround.png");


}


